<configuration>
    <system.webServer>
    <rewrite>
      <rules>
        <rule name="backend" stopProcessing="true">
           <match url="^(api)(.*)$" />
    <action type="None" />
        </rule>
 <rule name="backend2" stopProcessing="true">
           <match url="^(api2)(.*)$" />
    <action type="None" />
        </rule>
        <rule name="Vuejs rules" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
          <mimeMap fileExtension=".plist" mimeType="application/xml" />
          <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
   <remove fileExtension=".js" />
   <mimeMap fileExtension=".js" mimeType="text/javascript" />
   <remove fileExtension=".json" />
   <mimeMap fileExtension=".json" mimeType="application/json" />
   <mimeMap fileExtension=".res" mimeType="text/plain" />
   <mimeMap fileExtension=".nmf" mimeType="text/plain" />
   <mimeMap fileExtension=".pexe" mimeType="text/plain" />
   <mimeMap fileExtension=".mem" mimeType="text/plain" />
   <mimeMap fileExtension=".brotli" mimeType="text/plain" />
        </staticContent>
  </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>